@media (min-width:320px)  { 
  body {
    /* background-color: red; */
  }
  .app {
    /* width: 90%; */
  }
  #source-area, #input-area {
    width: 80%;
    margin: 1em 1em;
  }
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
  body {
    /* background-color: orange; */
  }
  .app {
    /* width: 90%; */
  }
  #source-area, #input-area {
    width: 60%;
    /* margin: 1em 1em; */
  }
}
@media (min-width:708px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  body {
    /* background-color: yellow; */
  }
  .app {
    /* width: 90%; */
  }
  #source-area, #input-area {
    margin: 1em 1em;
    width: 18em;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  body {
    /* background-color: green; */
  }
  .app {
    /* width: 90%; */
  }
  #source-area, #input-area {
    margin: 1em 2em;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  body {
    /* background-color: blue; */
  }
  .app {
    /* width: 80%; */
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
  body {
    /* background-color: indigo; */
  }
  .app {
    /* width: 70%; */
  }
}

.app {
  margin: 0em 2em 0em 2em;
  /* width: 70%; */
  margin: auto;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}

li:first-child {
  list-style-type: "> ";
}

.next-headline {
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.3);
}

#typing-space {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#source-area, #input-area {
  /* width: 50%; */
  /* width: 18em; */
  border: 1px solid gray;
  border-radius: 5px;
  height: 20em;
  /* margin: 0em 2em; */
  padding: 1em;
}

#source-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.stats {
  text-align: right;
  font-size: small;
}

.stats p {
  margin: 0px;
}

.stats-value {
  display: inline-block;
  width: 3em;
}

.input-subrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1em;
}

a {
  text-decoration: none;
}