.app {
  margin: 0em 2em 0em 2em;
  width: 70%;
  margin: auto;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}

li:first-child {
  list-style-type: "> ";
}

.next-headline {
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.3);
}

#typing-space {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#source-area, #input-area {
  width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 20em;
  margin: 0em 2em;
  padding: 1em;
}

#source-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.stats {
  text-align: right;
  font-size: small;
}

.stats p {
  margin: 0px;
}

.stats-value {
  display: inline-block;
  width: 3em;
}

.input-subrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1em;
}

/* todo: learn about media queries to optimize for tablet and phone sized devices */

